
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Message</mat-label>
    <input matInput #message maxlength="256" placeholder="Ex. I need help with...">
    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
  </mat-form-field> 
</form>

<input type="text" name="" id="" [(ngModel)]="numeroFermata">
<button type="submit" (click)="send(numeroFermata)">Submit</button>

<h1>Numero fermata: {{ numeroFermata }} </h1>

<div *ngFor="let value of posts, let i = index">
  <div *ngFor="let item of value">
    <h5 class="">Linea: </h5> {{ item.line }}
    <h5>Ora: </h5> {{ item.hour }}
  </div>
</div>